{% extends 'Proapp/basic.html' %}
{% block body%}
{% load static %}
<!-- Team -->
    <div id="about" class="counter">  <!-- about id call -->
    <div class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Team Of Temple</h2>
                    <p class="p-heading">We're only as strong and as knowledgeable as our team. So here are the men  which help devotees meet goals and grow temple activities</p>
                <h1>RAMANBHAI SOMABHAI PATIDAR TRUST</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <!-- 1 member row <div class="row">
                <div class="col-lg-12">

                    Team Member
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="{% static 'Proapp/images/team-1.png' %}" alt="alternative">
                        </div> <!-- end of image-wrapper
                        <p class="p-large">John Whitelong</p>
                        <p class="job-title">General Manager</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <!--<div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="{% static 'Proapp/images/team-2.png' %}" alt="alternative">
                        </div> <!-- end of image wrapper
                        <p class="p-large">Veronique Smith</p>
                        <p class="job-title">Business Developer</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div> <!-- end of team-member -->
                    <!-- end of team member

                     Team Member
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="{% static 'Proapp/images/team-3.png' %}" alt="alternative">
                        </div> <!-- end of image wrapper
                        <p class="p-large">Chris Zimerman</p>
                        <p class="job-title">Online Marketer</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div> <!-- end of team-member -->
                    <!-- end of team member

                   Team Member
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="{% static 'Proapp/images/team-4.png' %}" alt="alternative">
                        </div> <!-- end of image wrapper
                        <p class="p-large">Mary Villalonga</p>
                        <p class="job-title">Community Manager</p>
                        <span class="social-icons">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                        </span>
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                <!--</div> <!-- end of col -->
            <!--</div> <!-- end of row -->
        </div> <!-- end of container -->
        <div class="slider">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'Proapp/images/trusty.jpg' %}" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">Pankaj Patel - President</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'Proapp/images/trusty.jpg' %}" alt="alternative">
                                        <div class="card-body">

                                            <div class="testimonial-author">Milan Patel - Chairman</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'Proapp/images/trusty.jpg' %}" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">Ilesh Patel - Trusty</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'Proapp/images/trusty.jpg' %}" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">Sanjay Patel - Trusty</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'Proapp/images/trusty.jpg' %}" alt="alternative">
                                        <div class="card-body">
                                            <div class="testimonial-author">Ritesh Patel - Trusty</div>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->



                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of sliedr-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider -->
    <!-- end of testimonials -->
    </div> <!-- end of basic-2 -->
    <!-- end of team -->


    <!-- About -->

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'Proapp/images/matajimeldi.jpg' %}" alt="alternative" height="40%" width="80%">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7 col-xl-6">
                    <div class="text-container">
                        <div class="section-title">ABOUT</div>
                        <h2>We're Passionate About Delivering Growth Services</h2>
                        <p>Our goal is to provide the right business growth services at the appropriate time so companies can benefit from the created momentum and thrive for a long period of time</p>

                        <!-- Counter -->
                        <div id="counter">
                            <div class="cell">
                                <div class="counter-value number-count" data-count="29">1</div>
                                <div class="counter-info">Template<br>Years</div>
                            </div>
                            <div class="cell">
                                <div class="counter-value number-count" data-count="4">1</div>
                                <div class="counter-info">Blood Donation<br>Camp</div>
                            </div>
                            <div class="cell">
                                <div class="counter-value number-count" data-count="27">1</div>
                                <div class="counter-info">Pastotsav<br>Events</div>
                            </div>
                        </div>
                        <!-- end of counter -->

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of about -->



{% endblock %}